html,
body {
    margin: 0;
}

* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.wrapper {
    width: 85%;
    margin-bottom: 50px;
    margin: auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #97c5d8;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
}

header {
    padding: 25px;
    text-align: center;
    background-color: white;
}

.dataset {
    background-color: #97c5d8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 5px;
}

.dataset:hover {
    opacity: 2;
}

#map {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 500px;
}

.infobox {
    font-size: large;
    font-family: sans-serif;
    text-transform: capitalize;
}

/* 
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path{
    display: none;
}

.legend {
    font-size: 14px;
    font-family: sans-serif;
    fill: #000;
}
*/

/*.chart {
    width: 800px;
    height: 500px;
    margin: 0 auto;
}

.bar {
    fill: steelblue;
}

.bar:hover{
    fill: orange;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    display: none;
}

*/

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: green;
}

.axis,
.axis-x,
.axis-y {
    font-size: 14px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font-family:sans-serif;
}

.title {
    font-size: 24px;
    text-anchor: middle;
}

.tooltip {
    position: absolute;
    text-align: centre;
    width: 80px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    color: black;
}

/* SD302: cards */
.categories_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.category_cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 20%;
    /* allows 5 cards to fit in a line when margin is considered (w/o margin, 6) */
    border-radius: 5px;
    margin: 0 2%;
    padding: 8px;
    background-color: whitesmoke;
    border-top: none;
    color: black;
}

.category_cards a {
    color: black;
}

.category_cards_active, .category_cards:hover {
    transition: 0.5s;
    width: 20%;
    /* allows 5 cards to fit in a line when margin is considered (w/o margin, 6) */
    border-radius: 5px;
    margin: 0 2%;
    padding: 8px;
    background-color: whitesmoke;
    border-top: none;
    color: black;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
}