html, body{
    margin: 0;
}

*{
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 85%;
    margin-bottom: 50px;
    margin: auto;
  }

  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #97c5d8;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: bold;
}

header{
    padding: 25px;
    text-align: center;
    background-color: white;
}

